{% extends 'base.html' %}
{% load static %}

{% block conteudo %}  
    <div class="container_cadastro_bloco">
        <div class="container_cadastro">
            <div class="cadastro">
                <form action="cad">
                    <h2>E-mail para recuperação de conta:</h2>
                    <div class="field">
                        <input type="email" placeholder="E-mail" required>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}