{% extends 'base.html' %}
{% load static %}

{% block conteudo %}  
    <div class="content_sobre">
        <div class="container_info">
            <p>Mudar para energia renovável é relativamente simples. Primeiro, verifique se sua empresa de energia local oferece uma opção de energia verde. Isso pode ser feito visitando o site da empresa, entrando em contato com o serviço de atendimento ao cliente ou verificando sua fatura de energia para informações sobre opções de energia renovável.</p>
            <p>Depois de confirmar a disponibilidade da opção de energia renovável, entre em contato com a empresa de energia para expressar seu interesse em fazer a mudança. Eles fornecerão informações detalhadas sobre como fazer a transição, incluindo qualquer custo adicional e os benefícios associados à mudança.</p>
            <p>Ao mudar para energia renovável, você não apenas está contribuindo para um meio ambiente mais saudável, mas também pode economizar dinheiro a longo prazo. Embora possa haver custos iniciais associados à mudança, como taxas de instalação ou tarifas mensais adicionais, muitas vezes os custos operacionais a longo prazo são menores do que os da energia convencional, resultando em economias significativas ao longo do tempo.</p>
        </div>
    </div>
{% endblock %}